{% extends 'base.html' %}
{% block title %}About{% endblock %}

<!-- Header -->
{% block header %}

  <header style="background-image: url('{{ url_for('static', filename='images/building.png')}}');">

        <div class="image-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="header-content text-center theme-text-light">
                            <h1 class="display-1">About us</h1>
                            <p class="lead">We have been in the business for over two decades.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>

{% endblock %}


<!--Contents-->
{% block content %}

    <div class="container my-5">
        <h2 class="pb-3 text-center">Who are we?</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus ultrices sit cursusut. Justonullam nunc auctornam adipiscing potentiinteger purus, feugiat egestas. Cursus duis a massa quamclass est nullam, eualiquam felis. Vestibulummauris mollis turpissuspendisse blanditmorbi dis pretiumsed semproin nunc, bibendum blandit. Pharetrasuspendisse urna feugiatvivamus laoreet est ligula lobortisduis id, pretiummorbi blanditmorbi. Loremvivamus condimentum orci justosed aliquet loremvivamus ametmauris sedut, eget morbi. Torquent antephasellus turpispraesent aptent pretiumdonec morbi elementum vehicula, semproin efficitur. Dignissimcurabitur ut justosed suscipit nonetiam orciduis, odiovestibulum in.
        </p>

        <h2 class="pb-3 text-center">The woman behind it all</h2>

        <div class="clearfix">
          <img src="{{ url_for('static', filename='images/owner.png') }}" class="col-md-6 float-md-end mb-3 ms-md-3 rounded" alt="Owner's Image">

          <p>
              Cras suspendisse pretium. Nibh id tinciduntsuspendisse purusquisque molestieut ut imperdiet aenean, scelerisquemaecenas vestibulummauris. Loremvivamus suspendisse justomauris mollis eget sedut quamclass ullamcorper, pretiumsed sit. Condimentum etiam pharetra nascetur hac magna. Sem lobortisinteger tristique rutrumnam primis antephasellus scelerisque dignissim, egetvestibulum gravida. Efficiturcurabitur turpisnam convallisproin nullafusce condimentum, consecteturetiam elitcras. Eratmauris pretium metus imperdietnunc diam cursus. Efficiturnam viverra lacinia imperdietnunc elit, finibus eleifendsed. Proin convallisproin nisletiam mattisaliquam consectetur vehicula vehicula, erat varius.
          </p>

          <p>
          Loremvivamus nisletiam interdum malesuadafusce sollicitudin. Torquent justosed euismod ut ullamcorper velit non auctor, consectetur auguedonec. Fusce ligula leomauris placerat eualiquam pulvinar. At lobortisduis rhoncus ametmauris nullafusce.
          </p>

          <p>
          Viverrapraesent elementum lectus feugiatvivamus. Egestas quis aliquam blanditmorbi morbi orciut scelerisquemaecenas vestibulum, mollisnunc dictumst. Vestibulum maximus tinciduntnulla viverrapraesent nulla eratmauris faucibus nibhmorbi, antephasellus morbi. Consequatvestibulum lobortis turpisnam blanditmorbi purusquisque ultrices rhoncusnunc, consequat fermentum.</p>
        </div>

    </div>

{% endblock %}

{% block extra_scripts %}

    <script>

    if (window.matchMedia('(min-width: 992px)').matches)
    {
        $("#navbar").css({
            background: "transparent"
          });
    }
    </script>

{% endblock %}