{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block extra_css %}
{% include "_headstyle.html" %}
{% endblock %}

<!-- Header -->
{% block header %}

<header style="background-image: url('{{ url_for('static', filename='images/diego-carneiro-unsplash.png')}}');">

    <div class="image-overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="header-content text-center theme-text-light">
                        <h1 class="display-1">The <br> <span class="theme-text">Jewelry Gallery</span></h1>
                        <p class="lead">...Exquisite elegance @ an affordable price</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>

{% endblock %}

<!--Contents-->
{% block content %}

<div class="container my-5 home-products">

    {% include "_messages.html" %}

    <h2 class="pb-3">Latest Products</h2>

    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">

        {% for product in products %}
        <div class="col">
            <div class="card h-100 shadow">
                <img src="static/products_images/{{product.image}}" class="card-img-top" alt="{{ product.name }} Image" height="400px">
                <div class="card-img-overlay price-overlay">
                    {% if product.discount %}
                    <p class="card-text fs-3">
                        <s class="text-danger">₦{{ product.get_humanize_price() }}</s> ₦{{ product.get_humanize_discount() }}</p>
                    {% else %}
                    <p class="card-text fs-3">₦{{ product.get_humanize_price() }}</p>
                    {% endif %}
                </div>
                <div class="card-body text-center">
                    <h3 class="card-title">{{ product.name }}</h3>
                    {% if product.stock > 0 %}
                    <h5>In Stock: {{ product.stock }} </h5>
                    {% else %}
                    <div class="card-img-overlay stock-overlay">
                        <h2 class="text-danger">Out of Stock</h2>
                    </div>
                    {% endif %}
                    {% if product.discount %}
                    <span class="badge bg-info text-dark fs-5">Save {{ product.get_percent_saved() }}%</span>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <p class="text-start pt-3">Tags:
                        <a href="{{ url_for('get_category', cat_id=product.category_id) }}"><span class="badge rounded-pill bg-secondary">{{ product.category }}</span></a>
                        <a href="{{ url_for('get_subcategory', sub_cat_id=product.sub_category_id) }}"><span class="badge rounded-pill bg-secondary">{{ product.subcategory }}</span></a>
                    </p>
                    <form method="POST" action="{{ url_for('add_to_cart') }}">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon3">Quantity: </span>
                          <input type="number" class="form-control" id="quantity" aria-describedby="basic-addon3" value="1" min="1" max="{{ product.stock }}" name="quantity">
                        </div>
                      <div class="d-grid">
                          <input class="btn btn-lg theme-btn" id="submit" name="submit" type="submit" value="Add to Cart">
                      </div>
                    </form>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}