{% extends 'base.html' %}
{% block title %}Home{% endblock %}

<!-- Header -->
{% block header %}

  <header style="background-image: url('{{ url_for('static', filename='images/diego-carneiro-unsplash.png')}}');">

        <div class="image-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="header-content text-center theme-text-light">
                            <h1 class="display-1">The <br> <span class="theme-text">Jewelry Gallery</span></h1>
                            <p class="lead">...Exquisite elegance @ an affordable price</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

  </header>

{% endblock %}

<!--Contents-->
{% block content %}

  <div class="container my-5 home-products">

      {% include "_messages.html" %}

    <h2 class="pb-3">Latest Products</h2>

      {% include "_products_div.html" %}

  </div>

{% endblock %}